{% extends "base.html" %}

{% block body %}

    <!-- fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <!-- content -->
        <div class="container">
            <!-- title -->
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- title click -->
                <a class="navbar-brand" href="">Lingting Django</a>
            </div>
            <!-- navagation tags -->
            <div class="navbar-collapse collapse">
                <!-- tags -->
                <ul class="nav navbar-nav">
                    <!-- nav tag -->
                    <li>
                        <!-- nav head -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" data-index='0' class=""><a href="javascript:void(0)">项目</a></li>
                            {#                            <li role="presentation" data-index='1' class=""><a href="javascript:void(0)">Second</a></li>#}
                        </ul>
                        <!-- nav content -->
                        <ul class="nav nav-pills" data-index='0' style="display: none" role="tablist">
                            {% for project in projects %}
                                <li role="presentation" class="">
                                    <a href="/{{ project.project_link }}">{{ project.project_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% for project in projects %}
        <a id="{{ project.project_name }}" href="/{{ project.project_link }}">
            <img data-src="holder.js/300x200" class="img-thumbnail" src="/statics/{{ project.project_img }}"
                 alt="{{ project.project_name }}">
        </a>
    {% endfor %}

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(function () {
            const nav_fixed_li_head = $(".nav.nav-tabs[role='tablist'] > li[role='presentation']");
            const nav_fixed_content = $(".nav.nav-pills");
            const nav_fixed_li_content = $(".nav.nav-pills > li[role='presentation']");

            /* Down here are the events that fixed the top navigation */
            // Navigation tags mouseover
            nav_fixed_li_head.mouseover(function (event) {
                // Select peer tags and filter
                // $(this).nextAll('.nav.nav-pills').css({
                //     display: 'block',
                // });

                $(this).addClass('active')

                // Gets the subordinate navigation tags through the data-index attribute
                var index = $(this).attr("data-index")

                $(this).parent('.nav.nav-tabs').nextAll('.nav.nav-pills').eq(index).css({
                    display: 'block',
                });
            });
            nav_fixed_li_head.mouseout(function (event) {
                // Select peer tags and filter
                // $(this).nextAll('.nav.nav-pills').css({
                //     display: 'none',
                // });

                $(this).removeClass('active')

                // Gets the subordinate navigation tags through the data-index attribute
                var index = $(this).attr("data-index")

                $(this).parent('.nav.nav-tabs').nextAll('.nav.nav-pills').css({
                    display: 'none',
                });
            });


            nav_fixed_content.mouseover(function (event) {
                // Select peer tags and filter
                $(this).css({
                    display: 'block',
                });
                nav_fixed_li_head.eq($(this).attr('data-index')).addClass('active')
            });
            nav_fixed_content.mouseout(function (event) {
                // Select peer tags and filter
                $(this).css({
                    display: 'none',
                });

                nav_fixed_li_head.removeClass('active')
            });


            nav_fixed_li_content.mouseover(function (event) {
                $(this).addClass('active')
            });
            nav_fixed_li_content.mouseout(function (event) {
                $(this).removeClass('active')
            });
        })
    </script>
{% endblock %}