{% extends "base.html" %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First</th>
                        <th>Second</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img data-src="holder.js/300x200" class="img-thumbnail" src="" alt=""></td>
                        <td><img data-src="holder.js/300x200" class="img-thumbnail" src="" alt=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock%}