<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- bootstrap documentation says these two tags are required -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ request.session.title|default:"lingting django" }}</title>

    <!-- Introduce the bootstrap CSS file -->
    <link rel="stylesheet" type="text/css" href="/statics/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/statics/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/statics/css/theme.css">
    <link rel="icon" href="/statics/icon/favicon.ico" sizes="48x48" type="">
    {% block css %}
        <!-- The css file is introduces here -->
    {% endblock %}
</head>
<body>
    <div class="container theme-showcase" role="main">
        {% block body %}
        <!-- The body is written there -->
        {% endblock %}
    </div>
<!-- The javascript plug-in of Bootstrap relies on jquery, so you need to introduce jquery first -->
<script type="text/javascript" src="/statics/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/statics/js/bootstrap.js"></script>
<script type="text/javascript" src="/statics/js/docs.min.js"></script>
{% block javascript %}
<!-- The javascript file is introduces here -->
{% endblock %}
</body>
</html>
